.headerStyle {
    background-color: rgb(27, 98, 160);
    width: 100%;
    height: 50px;
    display: grid;
    align-items: center;
    list-style: none;
    grid-template-columns: 1fr 1fr 1fr 1fr 3fr; 
    /* position: absolute; */

    place-items: center;
}

.LiStyle {
    display: flex;
    width: 100px;
    align-items: center;
    justify-content: center;
    color: whitesmoke;

}

.LiStyle button {
    padding: 5px 15px;
    color: whitesmoke;
    border: 1px solid whitesmoke;
    background: none;
    border-radius: 15px;

}