.headerStyle {
    background-color: rgb(27, 98, 160);
    width: 100%;
    padding:  0 100px;
    height: 50px;
    display: flex;
    align-items: center;
    list-style: none;
    /* position: absolute; */

    justify-content: space-between;
}

.LiStyle {
    display: flex;
    width: 100px;
    align-items: center;
    justify-content: center;
    color: whitesmoke;

}

.LiStyle button {
    padding: 5px 15px;
    color: whitesmoke;
    border: 1px solid whitesmoke;
    background: none;
    border-radius: 15px;
    
}
.LiStyleBtn {
    padding-left: 50%;
}